@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: Inter;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 40%;
    height: 60%;
    /* border: 2px solid black; */
    /* gap: 1rem; */
    border-radius: 10px;
    box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.7);
}

input {
    width: 60%;
    text-align: center;
    height: 10%;
    font-size: 2vh;
}

.container-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 80%;
    /* border: 2px solid black; */
    gap: 1rem;

    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.container-output {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 60%;
    height: 20%;
    padding: 5%;
    /* border: 2px solid black; */
    /* gap: 1rem; */
}

button {
    width: 45%;
    height: 15%;
    font-size: 2vh;
    border-radius: 10px;
}

#tambahButton {
    background-color: greenyellow;
}

#kurangButton {
    background-color: rgb(238, 118, 118);
}

#result {
    font-size: 54px;
    margin: 10px;
}

::placeholder {
    text-align: center;
}